{% extends 'admin/base.html.twig' %}
{% block title %}Themes{% endblock %}
{% block body %}
<div class="d-flex justify-content-between mb-4">
    <h1>Themes</h1>
    <a href="{{ path('admin_theme_new') }}" class="btn btn-primary">Create New</a>
</div>

<div 
    data-vue-island="theme-grid"
    data-api-url="{{ path('api_themes_list') }}"
    data-csrf-token="{{ csrf_token('toggle') }}"
></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('theme-grid-app') }}
{% endblock %}
