{% extends 'admin/base.html.twig' %}

{% block title %}Create Page{% endblock %}

{% block body %}
<div class="dashboard-welcome mb-4">
    <h1>Create New Page</h1>
    <p class="subtitle">Add a new page to your content management system</p>
</div>

{# Vue Page Form #}
<div
    data-vue-island="page-form"
    data-api-url="{{ path('api_pages_index') }}"
    data-cancel-url="{{ path('admin_page_index') }}"
    data-categories-data="{{ categoriesData|e('html_attr') }}"
></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('page-form-app') }}
{% endblock %}
